body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  color: rgb(33, 37, 41);
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 96%;
  max-width: 1200px;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .page {
    width: 80%;
  }
}

table {
  margin-top: 20px;
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
}

table th {
  border: 1px solid #b3adad;
  padding: 10px 15px;
  background: #f0f0f0;
  color: rgb(49, 48, 48);
}

table td {
  padding: 5px 35px;
  border: 1px solid #b3adad;
  text-align: center;
  background: rgb(255, 255, 255);
  color: rgb(49, 48, 48);
}
